.botaoadd{
    background-color: aqua;
    height: 40px;
    padding: 0 10px;
    border-radius: 5px;
    width: 100%;
    font-size: 16px;
    color: rgb(5, 47, 85);
    font-weight: bold;
    cursor:pointer;
    border: none;
}

.botaoadd:hover{
    background-color: rgb(57, 85, 102);
    color: aqua;
}